.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
    text-align: center;
    font-family: "Roboto", sans-serif; /* Apply Roboto font */
}


.container input {
    border: 2px solid lightgrey;
    border-radius: 40px;
    outline: none;
    width: 98%;
    height: 30px;
    text-indent: 7px;
    margin-bottom: 8px;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 40px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}

.error {
    color: red;
    margin-top: 1rem;
}
