.content {
    padding: 2rem;
    font-size: 1.2rem;
}

.content-box {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    height: 38px;
}

.content-box input {
    flex: 1;
}

.content-box button {
    padding: 8px 12px;
    background: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    color: white;
}

.page {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.page-button {
    padding: 6px 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.page-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.page-button:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

.page-dots {
    padding: 4px 8px;
    color: #888;
    font-weight: bold;
}

.pagination {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}